/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea/*
.idea
/.idea/workspace.xml
*.iml
*.xml
*.gem
/sonar-scanner-3.3.0.1492/
publishSonar.sh
/.scannerwork/
/Gemfile.lock
/generate.sh
